@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');


@layer components {
  .backgroundDot {
    @apply  inset-0 -z-10  w-full bg-white bg-[linear-gradient(to_right,#8080800a_1px,transparent_1px),linear-gradient(to_bottom,#8080800a_1px,transparent_1px)] bg-[size:14px_24px]
  }
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3{
    @apply text-xl
  }
}

body {
  margin: 0;
  padding: 0;
}


@keyframes borderGlow {
  0%, 100% {
    box-shadow: 0 0 8px #888, 0 0 16px #888, 0 0 24px #888, 0 0 32px #888;
  }
  50% {
    box-shadow: 0 0 12px #aaa, 0 0 24px #aaa, 0 0 36px #aaa, 0 0 48px #aaa;
  }
}

.animate-border-glow {
  animation: borderGlow 1.5s infinite ease-in-out;
}